#start1 {
    padding-left: 1000px;
    padding-top: 10px;
    background: url(images/bg.jpg);
}

#start1.start-appear {
    padding-left: 20px;
    -webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    transition: top .3s ease-out;
}

#start-button {
    display: block;
    margin: 160px auto 0 auto;
    background: url(images/stb.png) no-repeat;
    width: 160px;
    height: 80px;
}

#start-button:hover {
    width: 168px;
}

#start-button:active {
    background-position: 0 -67px;
}

#marks {
    position: absolute;
    top: -320px;
    left: 0;
    color: #ffffff;
}
